[user]
	email = alexander.kosnac@web.de
	name = Alexander Kosnac
[core]
	editor = vim
	autocrlf = input
[alias]
	unstage = reset HEAD --
	root = rev-parse --show-toplevel
[init]
	defaultBranch = master
